{% extends 'app.html' %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row justify-content-center mb-3 mt-3">
        <div class="card col-12">
            <div class="card-img-top col-6 d-flex justify-content-center">
                <img src="{{pokemon.image}}" alt="..." height="300px" width="300px">
            </div>
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{pokemon.name}}</h5>
                <p class="card-text col-12 d-flex flex-column align-items-center">
                    <span> HP: {{pokemon.hp}} </span>
                    <span> Attack: {{pokemon.attack}} </span>
                    <span> Defense: {{pokemon.defense}} </span>
                    <span> Special-attack: {{pokemon.special_attack}} </span>
                    <span> Special-defense: {{pokemon.special_defense}} </span>
                    <span> Speed: {{pokemon.speed}} </span>
                </p>
            </div>
            <form class="col-12 mt-2" action="{{url_for('pokemon_page_save', pokemon_name=pokemon.name)}}" method="post"
                  enctype="multipart/form-data">
                <button class="col-12 btn btn-outline-secondary" type="submit">Сохранить покемона в файл</button>
                {% for msg in get_flashed_messages() %}
                <div class="flash">{{msg}}</div>
                {% endfor %}
            </form>
        </div>
        <a href="/" class="btn btn-primary">Главная</a>
    </div>
</div>
{% endblock %}
